@using FirmaWebAPI.DB;

@{ 
    List<Firma> firme = (List<Firma>)ViewData["firmeKey"];
}

<table class="table table-striped">
    <thead>
        <tr>
            <th>JIB</th>
            <th>Naziv</th>
            <th>Opstina</th>
            <th>Adresa</th>
        </tr>
    </thead>
    <tbody>
        @foreach(Firma x in firme)
        {
            <tr>
				<td>@x.JIB</td>
                <td>@x.Naziv</td> 
                <td>@x.Opstina.Naziv</td>
                <td>@x.Adresa</td>
            </tr>
        }
    </tbody>
</table>