USE [master]
GO
/****** Object:  Database [firma2]    Script Date: 28.9.2018 13:21:44 ******/
CREATE DATABASE [firma2]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'firma2', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL12.MSSQLSERVER\MSSQL\DATA\firma2.mdf' , SIZE = 5120KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'firma2_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL12.MSSQLSERVER\MSSQL\DATA\firma2_log.ldf' , SIZE = 1024KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [firma2].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [firma2]
GO
/****** Object:  Table [dbo].[Firma]    Script Date: 28.9.2018 13:21:44 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Firma](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[Naziv] [nvarchar](max) NULL,
	[Adresa] [nvarchar](max) NULL,
	[JIB] [nvarchar](max) NULL,
	[OpstinaID] [int] NULL,
 CONSTRAINT [PK_Firma] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Opstina]    Script Date: 28.9.2018 13:21:44 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Opstina](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[Naziv] [nvarchar](max) NULL,
 CONSTRAINT [PK_Opstina] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
SET IDENTITY_INSERT [dbo].[Firma] ON 

GO
INSERT [dbo].[Firma] ([ID], [Naziv], [Adresa], [JIB], [OpstinaID]) VALUES (1, N'Doo Bingo', N'Mostarski', N'0000', 4)
GO
INSERT [dbo].[Firma] ([ID], [Naziv], [Adresa], [JIB], [OpstinaID]) VALUES (2, N'Dell doo', N'UL11', N'01234', 3)
GO
INSERT [dbo].[Firma] ([ID], [Naziv], [Adresa], [JIB], [OpstinaID]) VALUES (3, N'FIT doo', N'Doo', N'4532', 2)
GO
SET IDENTITY_INSERT [dbo].[Firma] OFF
GO
SET IDENTITY_INSERT [dbo].[Opstina] ON 

GO
INSERT [dbo].[Opstina] ([ID], [Naziv]) VALUES (1, N'Centar')
GO
INSERT [dbo].[Opstina] ([ID], [Naziv]) VALUES (2, N'Stari Grad')
GO
INSERT [dbo].[Opstina] ([ID], [Naziv]) VALUES (3, N'Konjic')
GO
SET IDENTITY_INSERT [dbo].[Opstina] OFF
GO
ALTER TABLE [dbo].[Firma]  WITH CHECK ADD  CONSTRAINT [FK_Firma_Opstina] FOREIGN KEY([OpstinaID])
REFERENCES [dbo].[Opstina] ([ID])
GO
ALTER TABLE [dbo].[Firma] CHECK CONSTRAINT [FK_Firma_Opstina]
GO
USE [master]
GO
